body {
    font-family: 'BenchNine', sans-serif;
    font-size: 16px;
    margin: 0;
    background: #ace3ff;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h2 {
    display: none;
    text-align: center;
    width: 100%;
    font-weight: 300;
}

.grid {
    display: grid;
    grid-template-columns: 3vw minmax(0,calc(50% - 512px - 3vw)) repeat(24,1fr) minmax(0,calc(50% - 512px - 3vw)) 3vw;
}

.hero {
    position: relative;
    padding: 0;
}

.hero__inner {
    position: relative;
    grid-column-start: 3;
    grid-column-end: span 24;
    grid-row-start: 1;
    grid-row-end: span 1;
    height: 400px;
    z-index: 2;
}

.hero__background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 -40%;
    overflow: hidden;
    /*border-radius: 0 0 100% 100%;*/
    background-image: url(../../assets/images/header__bg.jpg);
    background-size: auto 400px;
    background-repeat: no-repeat;
    background-position: center top;
}

@media (max-width:769px) {
    .hero__background {
        width: 100vw;
        margin: 0;
    }
}

.logo {
    position: absolute;
    left: 180px;
    top: 10px;
    width: 256px;
    height: 256px;
    background-image: url(../../assets/images/logo.svg);
    background-size: 256px auto;
    background-repeat: no-repeat;
    background-position: left top;
}

@media (max-width:769px) {
    .logo {
        display: none;
    }
}

main.main {
    padding: 120px 0 60px;
    min-height: 70vh;
    background: linear-gradient(#ace3ff, #6fa5c0);
}

.buttons {
    grid-column-start: 3;
    grid-column-end: span 24;
    grid-row-start: 1;
    grid-row-end: span 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

button {
    --bg: #316983;
    --bghover: #febf0f;
    width: calc(25% - 20px);
    min-height: 100px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: var(--bg);
    color: #FFF;
    font-family: 'BenchNine', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background: var(--bghover);
    cursor: pointer;
}

.btn--uitspraken {
    --bg: #316983;
    --bghover: #214658;
}
.btn--geweld {
    --bg: #febf0f;
    --bghover: #aa7f0a;
}
.btn--podcast {
    --bg: #a32b2b;
    --bghover: #6d2525;
}
.btn--memes {
    --bg: #C0C546;
    --bghover: #687200;
}

@media (max-width:769px) {
    button {
        width: calc(50% - 20px);
    }
}

@media (max-width: 460px) {
    button {
        font-size: 7vw;
        line-height: 7vw;
    }
}


/* Front-end */

.front-end {
    display: block;
    position: absolute;
    right: -70px;
    width: 790px;
    height: 400px;
    background-image: url(../../assets/images/header__bodies.png);
    background-size: 790px auto;
    background-repeat: no-repeat;
    background-position: left bottom;
}

@media (max-width:1025px) {
    .front-end {
        transform: scale(0.7);
        bottom: -60px;
        right: -130px;
    }
}

@media (max-width:769px) {
    .front-end {
        display: none;
    }
}


.head {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: left top;
    transform-origin: center bottom;
}

@-webkit-keyframes wiggle1 {
    0% {-webkit-transform: rotate(1deg);}
    25% {-webkit-transform: rotate(-3deg);}
    50% {-webkit-transform: rotate(0deg);}
    75% {-webkit-transform: rotate(3deg);}
    100% {-webkit-transform: rotate(1deg);}
}

@-webkit-keyframes wiggle2 {
    0% {-webkit-transform: rotate(0deg);}
    25% {-webkit-transform: rotate(2deg);}
    50% {-webkit-transform: rotate(0deg);}
    75% {-webkit-transform: rotate(-2deg);}
    100% {-webkit-transform: rotate(0deg);}
}

@-webkit-keyframes wiggle3 {
    0% {-webkit-transform: rotate(-4deg);}
    25% {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(4deg);}
    75% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(-4deg);}
}

.head--jachin {
    left: 40px;
    bottom: 50px;
    width: 156px;
    height: 151px;
    background-image: url(../../assets/images/jachin.png);
    background-size: 156px auto;
    animation: wiggle1 2.4s infinite;
}

.head--ruben {
    left: 200px;
    bottom: 142px;
    width: 104px;
    height: 143px;
    background-image: url(../../assets/images/ruben.png);
    background-size: 104px auto;
    animation: wiggle2 1.9s infinite;
}

.head--james {
    left: 340px;
    bottom: 90px;
    width: 111px;
    height: 147px;
    background-image: url(../../assets/images/james.png);
    background-size: 111px auto;
    animation: wiggle3 1.5s infinite;

}

.head--almer {
    left: 463px;
    bottom: 160px;
    height: 129px;
    width: 95px;
    background-image: url(../../assets/images/almer.png);
    background-size: 95px auto;
    animation: wiggle1 1.2s infinite;
}

.head--bastiaan {
    left: 600px;
    bottom: 90px;
    width: 100px;
    height: 138px;
    background-image: url(../../assets/images/bastiaan.png);
    background-size: 100px auto;
    animation: wiggle3 2.3s infinite;
}


/* Patrick */

.patrick-body {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: -110px;
    left: -90px;
    width: 410px;
    height: 401px;
    background-image: url(../../assets/images/patrick__body.png);
    background-size: auto 401px;
    background-repeat: no-repeat;
    background-position: 30px bottom;
}

@media (max-width:769px) {
    .patrick-body {
        left: 50%;
        margin-left: -205px;
        background-position: center bottom;

    }
}

.patrick-body--spuit11 {
    background-image: url(../../assets/images/spuit11.svg);
    background-size: auto 360px;
    background-position: 5px 35px;
}

@media (max-width:769px) {
    .patrick-body--spuit11 {
        left: 50%;
        margin-left: -220px;
    }
}

.patrick-head {
    --play-state: paused;
    display: block;
    position: absolute;
    transform-origin: top left;
    transform: scale(.5);
    width: 360px;
    top: 27px;
    left: 2px;
    z-index: 3;
}

@media (max-width:769px) {
    .patrick-head {
        left: 50%;
        margin-left: -130px;
    }
}

.patrick-head--talking {
    --play-state: running;
}

.patrick-head__bottom {
    position: absolute;
    top: 424px;
    left: 60px;
    width: 232px;
    height: 93px;
    display: block;
    animation: bottom 1.2s infinite;
    animation-play-state: var(--play-state);
}

.patrick-head__top {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 424px;
    width: 350px;
    animation: top 1.2s infinite;
    animation-play-state: var(--play-state);
}

.spuit11 {
    width: 530px;
    height: 590px;
    max-width: none;
    z-index: 12;
    left: -11%;
    position: absolute;
}

@keyframes top {
    0% {
        top: 0px;
        transform: rotate(0deg);
    }
    10% {
        top: -10px;
        transform: rotate(4deg);
    }
    20% {
        top: 0px;
        transform: rotate(0deg);
    }
    30% {
        top: -20px;
        transform: rotate(-10deg);
    }
    40% {
        top: 0px;
        transform: rotate(0deg);
    }
    50% {
        top: -10px;
        transform: rotate(4deg);
    }
    60% {
        top: 0;
        transform: rotate(0deg);
    }
    70% {
        top: -20px;
        transform: rotate(-2deg);
    }
    80% {
        top: 0px;
        transform: rotate(0deg);
    }
    90% {
        top: -10px;
        transform: rotate(-8deg);
    }
    100% {
        top: 0px;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        top: 424px;
        transform: rotate(0deg);
    }
    10% {
        top: 429px;
        transform: rotate(0deg);
    }
    20% {
        top: 424px;
        transform: rotate(0deg);
    }
    30% {
        top: 434px;
        transform: rotate(0deg);
    }
    40% {
        top: 424px;
        transform: rotate(0deg);
    }
    50% {
        top: 434px;
        transform: rotate(0deg);
    }
    60% {
        top: 424px;
        transform: rotate(2deg);
    }
    70% {
        top: 429px;
        transform: rotate(0deg);
    }
    80% {
        top: 424px;
        transform: rotate(0deg);
    }
    90% {
        top: 434px;
        transform: rotate(0deg);
    }
    100% {
        top: 424px;
        transform: rotate(0deg);
    }
}


